<div class="task_wrapper">
  <div class="task">
    <div class="task_sheet" *ngIf="(taskSheet$ | async) as task; else notasks">
      <h4>{{ task.title }}</h4>
      <p>{{ task.name }}</p>
      <p>{{ task.deadline }}</p>
      <p>{{ task.priority }}</p>
      <p>{{ task.status }}</p>
      <p>{{ task.executor }}</p>
      <div class="task_sheet_controls">
        <button class="task_change" (click)="onChange()">change</button>
        <button class="task_change" (click)="onDelete()">delete</button>
      </div>
    </div>
    <ng-template #notasks>
      <p>Task not found</p>
    </ng-template>
    <button class="task_close" (click)="onBack()">+</button>
  </div>
</div>
