.task_wrapper {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task {
  padding-top: 5vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 95%;
  max-width: 300px;
}

.task_close {
  margin-left: 20px;
  color: var(--orange);
  background: var(--background);
  border: none;
  font-size: 2rem;
  transform: rotate(45deg);
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    transform: rotate(90deg);
    transition: 0.3s;
  }
}

.task_sheet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.task_sheet_controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task_change {
  color: var(--background);
  background: var(--main);
  border: none;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
