.wrapper_control {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.control {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  & h4 {
    color: var(--main);
    font-family: head;
  }

  & button {
    background-color: var(--background);
    border: none;
    color: var(--main);

    &:hover {
      cursor: pointer;
      font-weight: 600;
    }
  }
}

.control_add {
  padding: 0 10px;

  &:hover {
    cursor: pointer;
    color: var(--orange);
  }
}

.control_logout {
  padding: 0 10px;
  font-weight: 200;

  &:hover {
    cursor: pointer;
    font-weight: 400;
    color: var(--rose);
  }
}
